body{
    margin:0;
    padding: 0;
    text-decoration: none;
}
.hero{
    background-attachment: fixed;
    background-image: url("image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 18px 0px 0px 200px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    color:gray;
    font-family: 'Quattrocento Sans', sans-serif;
}
.logo:hover{
    color:blue;
}
nav{
    display:flex;
    width:600px;
    justify-content: space-around;
    padding: 18px;
    margin-right:100px;
}
nav a{
    font-weight: bold;
    text-decoration: none;
    color:black
    font-family: 'Playfair Display', serif;
}
nav a:hover{
    background-color:whitesmoke;
    color:blue;
}

header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:250px;
}
h1{
    color:black;
    font-size:30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
article{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
article p{
    width:500px;
    text-align: justify;
    padding-left:50px;
    font-family: 'Playfair Display', serif;
    color:brown
}
form{
    background-color: white;
    width: 100%;
    height: 100vh;
}
form .download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.download p, .download h2{
    font-family: 'Playfair Display', serif;
    font-size:20px;
}
form .form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:30px;
}
form .form1 .contact{
    display: flex;
    flex-direction: column;
    padding-left: 100px;  
}
.form1 p{
    font-family: 'Playfair Display', serif;
    font-size:18px;
    padding-top: 5px;
}
form .form1 .contact h2{
    text-align: center;
}
form .form1 .contact input{
    width:350px;
    height:30px;
}
form .form1 .contact textarea{
    width:350px;
    height:150px;
}
footer{
    background-color: blanchedalmond;
    width:100%;
    height:5vh;
}
footer p{
    text-align: center;
    padding:5px;
    color:brown;
    font-family: 'Quattrocento Sans', sans-serif;
}
